
.quizBox {
    width: 90%;
    height: 60%;
    border: 5px solid red;
    background-color: yellow;
    margin: 5% auto;
    font-size: 3rem;
    text-align: center;

    .textBox {
        margin-top: 10%;
    }
}