* {
    border-radius: 12px;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}


.select {
    
    width: 80vw;
    height: 100%;
    background: #dde1e7;
    // background: no-repeat url(../../public/pngwing.com.png);
    box-shadow: -5px -5px 10px #ffffff73, 8px 8px 12px rgba(94, 104, 121, .288);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    .row {
        display: flex;
        height: 88%;
        align-items: center;
        position: relative;
    }

    // .start-info {
    //     width: 5%;
    //     height: 100%;
    //     background: rebeccapurple;
        
    // }
    
    .col {
        // flex-basis: 50%;
        margin: 80px;


        h1 {
            color: #fff;
            font-size: 110px;
            text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4),
                           8px 8px 12px rgba(0,0,0,0.08);
        }
        
        p {
            color: #fff;
            /* font-size: 11px; */
            font-size: 20px;
            /* line-height: 15px; */
            line-height: 36px;
            font-weight: 600;
            letter-spacing: 0.12em;
            text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4),
                           8px 8px 12px rgba(0,0,0,0.08);
            // text-align: center;
        }
        
        button {
            width: 180px;
            color: #000;
            font-size: 16px;
            padding: 12px 0;
            background: #fff;
            box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
            border: 0;
            outline: none;
            margin-top: 10px;
        }

        .room {
            width: 200px;
            height: 230px;
            display: inline-block;
            border-radius: 10px;
            padding: 15px 25px;
            box-sizing: border-box;
            cursor: pointer;
            margin: 10px 15px;
            /* background-image: url(images/background.jpg); */
            background-position: center;
            background-size: cover;
            box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
            transition: transform 0.5s;
            font-size: 25px;

            
        }

        .room1 {
            // margin-top: 150px;
            background-image: url('../../image/background/paint3.avif');
        }
        
        .room2 {
            background-image: url('../../image/background/pngwing.com.png');
        }
        
        .room3 {
            // background-image: url(../../public/pngwing.com.png);
        }
        
        .room4 {
            // background-image: url(../../public/paint3.avif);
        }
        
        .room:hover {
            transform: translateY(-70px);
        }
    }

    .col1 {
        // border: 4px solid #fff;
    }

    // div {
    //     width: 15vw;
    //     height: 30vh;
    //     background: #dde1e7;
    //     box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    //     margin: auto;
    // }

    
    
}