.tab{
    height: 30px;
    position: absolute;
    top: -30px;
    left: 5px;
    
    .tab-d{
        display: flex;
        position: relative;
        .d{
            border: 1px solid #000;
            border-bottom: 0px;
            border-radius: 6px; 
            width: 100px;
            font-size: 24px;
            height: 30px;            
            cursor: pointer;
            line-height: 24px;
            transition: 0.2s;
            &:hover{
                z-index: 10;
                scale: 1.2  ;
            }
           
        }
        .main{
            // position: absolute;
            left: 0%;
            top: 0px;
            background-color: #fdfd85;
           } 
        .info{
            position: absolute;
            left: 90%;
            top: 0px;
            background-color: #8bf58b;
            
            
        }
        .shop{
            position: absolute;
            left: 180%;
            top: 0px;
            background-color: #93ffff;
            
            
        }
    }
    
}