
.chat{
    position: absolute;
    bottom: 25px;    
    right: 80px;
    width: 30%;
    margin: 0 auto;    
    // margin-right: 3px;
    display: flex;
    flex-flow: column;   
    color: black;
    // border-radius: 10px;
    
    box-sizing: border-box;
    
    &.play-chat{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .in-chat{
            max-height: none;
        }
    }
    .in-chat{
        flex: 4;
        min-height: 185px;
        max-height: 185px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(1px);
        // -webkit-backdrop-filter: blur(10px);
        // border: 2px solid rgba(255, 255, 255, 0.18);
        // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        background-color: #fbfbfb;
        box-shadow: inset -3px -3px 7px #ffffff73
        ,inset 3px 3px 5px rgba(94, 104, 121, .288)
        ,inset -3px -3px 3px #e6e6e673
        ,inset -3px -3px 3px #e6e6e673
        ;

        // box-shadow: 0px 0px 0px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
        // padding-bottom: 16px;
        // text-align: center;
        text-indent: 10px;
        padding: 25px;
        
        display: flex;
        flex-direction: column;
        // justify-content: baseline;
        
        // overflow: scroll;
        overflow: auto;        
        scroll-margin: 50px;
        div{            
            line-height: 20px;           
            font-size: 16px;
            text-indent: 20px;
            text-align: left;
          &:last-child{
            // color: red;
            margin-bottom: 25px;
          }
          
          
        }
       
       
        
    }.enter-chat{
        margin-top: 10px;
        flex: 10;
        
        display: flex;
        .input {
            width: 88%;
            height: 30px;
            border-bottom-left-radius: 10px;            
            border-bottom-right-radius: 10px;            
            outline: none;
            border: none;
            // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            // backdrop-filter: blur(10px);
            // -webkit-backdrop-filter: blur(10px);
            // border: 2px solid rgba(255, 255, 255, 0.18);
            // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
            margin-right: auto;
            text-indent: 10px;
            &.dis{
                display: none;
            }
        }
        .btnSend{
            // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            // backdrop-filter: blur(10px);
            // -webkit-backdrop-filter: blur(10px);
            // border: 2px solid rgba(255, 255, 255, 0.18);
            // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            background-color: #fbfbfb;
            color: rgb(249, 111, 95);
            box-shadow:  -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
            border: none;
            width: 10%;
            height: 30px;
            margin: auto;
            border-bottom-right-radius: 10px;

            &:hover {
                background-color: rgb(249, 111, 95);
                color: #fbfbfb;
            }

            &:active {
                box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
            }
        }

        // label {
        //     cursor: pointer;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }

    }
    
}

.show {
    display: none;
}


.chatIcon {
    width: 50px;
    // background-size: 100px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 25px;
    // position: absolute;
    background-color: none;
    
    &:hover {
        color: goldenrod;
    }
    &:active {
        padding: 2px;
        box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    }
    &.onmessage{
            // box-shadow: 5px 5px 5px #f4166b;  
            animation: on 700ms ease-in-out 0s 3 alternate none; 
            path{
                // color: #f4166b;
            }
            @keyframes on {
                from{
                    color: #f4166b;
                }
                to{
                    color: #000;
                }
            }
    }
    
    @keyframes on {
        from{
            color: #f4166b;
        }
        to{
            color: #000;
        }
    }
    
    
    
}
@keyframes on {
    from{
        color: #f4166b;
    }
    to{
        color: #000;
    }
}