
.chat{
    width: 100%;
    margin-left: 10px;
    flex: 9;
    display: flex;
    flex-flow: column;
    /* background-color: blue; */
    // height: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-right: 5px;
    
    .in-chat{
        flex: 4;
        min-height: 170px;
        max-height: 170px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #fff;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        // justify-content: baseline;
        
        overflow: scroll;
        li{            
            line-height: 24px;           
            font-size: 15px;
            text-indent: 20px;
            text-align: left;
        }
    }
    .enter-chat{
        width: 100%;
        flex: 1;
        display: flex;
        input {
            flex: 7;
            border-bottom-left-radius: 10px;            
            outline: none;
            border: none;
        }
        button{
            
            border: none;
            border-bottom-right-radius: 10px;
        }
    }
    
}
#id{
    flex: 1;
}