.rooms{
    flex: 9;
    /* background-color: skyblue; */
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    ul {
        display: flex;
        flex-flow: wrap;
        // justify-content: space-around;
        padding: 0 20px;
        // justify-content: start;
    }
    .room{
        width: 47%;
        height: 70px;
        /* background: red; */
        display: flex;
        align-items: center;
        background-color: aliceblue;
        margin: 5px 14px;

        text-decoration: none;
        list-style: none;

        border-radius: 10px;
        padding: 12px;
        box-sizing: border-box;
        
        text-indent: 7px;
        font-size: 25px;    
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            background-color: rgb(175, 218, 255);
            scale: 1.01;
        }
        
        
    }
    
}
