.box{
    height: 100%;
    flex: 3;
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    .info{
        margin-left: 5px;
    }
    p{
        font-size: 21px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}