.user-list{
    width: 200px;
    padding-top: 30px;
    // padding-right: 30px;
    height: 100%;
    margin-left: 20px;
    // flex: 0.3;
    /* background-color: skyblue; */
    // background-color: #fff;
    // border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: -300px;

    li{
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        // border-bottom: 1px solid #000;
        height: 50px;

        text-decoration: none;
        text-align: center;
        list-style: none;
        font-size: 20px;

        box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.4509803922), 3px 3px 5px rgba(94, 104, 121, 0.288);

        &:hover{
            z-index: 10;
            transform: translateX(30%);
            transition: transform 300ms ease-out ; 

        }
    }
}
