
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ys-style {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.container {
    padding: 40px;
    border: 8px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #ffffff73, 8px 8px 12px rgba(94, 104, 121, .288);
    /* box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35); */
    /* inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35); */
}

.container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container .form.signin,
.container.signinForm .form.signup {
    display: none;
}

.container.signinForm .form.signin {
    display: flex;
}

.container .form h2 {
    color: black;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.container .form .inputBox {
    position: relative;
    width: 300px;
}

.container .form .inputBox input {
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #f7f7f7;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    color: black;
    font-weight: 300;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    /* box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35); */
    transition: 0.5s;
    outline: none;
}

.container .form .inputBox span {
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    /* color: rgba(255, 255, 255, 0.5); */
    color: darkgray;
}

.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span {
    color: salmon;
    border: 1px solid salmon;
    background: #f7f7f7;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}
.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
    border: 1px solid salmon;
}
.container .form .inputBox i {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    padding-right: 8px;
    padding: 2px 0;
    color: salmon;
    border-right: 1px solid salmon;
}

.container .form .inputBox input[type="submit"]
{
    background: salmon;
    color: #f7f7f7;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 10px #ffffff73, 8px 8px 12px rgba(94, 104, 121, .288);
    /* box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35); */
    /* inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35); */
}

.container .form p {
    /* color: rgba(255, 255, 255, 0.5); */
    color: darkslategray;
    font-size: 0.75em;
    font-weight: 300;
}

.container .form p a {
    font-weight: 500;
    color: black;
}